.reve-color {
    color: #0c2e8a;

}

.span-color {
    color: #50d8af;

}

.btn-bg-blue {
    background-color: #0c2e8a;
}

.btn-bg-tooth {
    background-color: #50d8af;

}

.banner-img-1 {
    background-image: url(image/carousel/3.jpg);
    height: 100vh;
}

.banner-img-2 {
    background-image: url(image/carousel/4.jpg);
    height: 100vh;
}

.banner-img-3 {
    background-image: url(image/carousel/5.jpg);
    height: 100vh;
}

.client-img {
    width: 160px;
}